@model KGUWiki.Models.Role

@{
    ViewData["Title"] = "Удаление записи из таблицы пользовательских ролей";
}

<a class="btn btn-outline-secondary m-2" asp-action="Index" asp-controller="Roles">🡸Вернуться к таблице</a>
<div class="mx-auto w-75 m-3 text-center">
    <h2 class="text-center mb-3">Подтвердите, что хотите удалить нужную запись</h2>
    <hr />
    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.Id):</b> @Html.DisplayFor(model => model.Id)
    </p>
    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)
    </p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger m-1" />
    </form>
</div>
