@model List<string>
@{
    ViewData["Title"] = "Admin Page";
}
<div class="row m-2 border border-dark col-md-2 col-lg-5">
    <div>
        <p class="h5">Таблицы в БД</p>
    </div>
    <ul class="flex-column float-left">
        @foreach (var tableName in Model)
        {
            <li class="nav-link m-1 p-0">
                <img class="align-baseline" src="~/img/table_icon.svg" height="18" width="18" />
                <a class="text-dark" asp-controller="@tableName" asp-action="Index">@tableName</a>
            </li>
        }
    </ul>
</div>
